<div id="loader">
    <div class="background">
        <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
        
        <svg id="lifesquare-loader" width="256px" height="256px" viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g>
                    <path d="M256,224 C256,241.6 241.6,256 224,256 L32,256 C14.4,256 0,241.6 0,224 L0,32 C0,14.4 14.4,0 32,0 L224,0 C241.6,0 256,14.4 256,32 L256,224 L256,224 Z" id="logo-back" fill="#FFFFFF"></path>
                    <path d="M52.442,203.824 L103.345,203.824 L103.345,152.922 L52.442,152.922 L52.442,203.824 Z M108.878,136.322 L46.91,136.322 C40.824,136.322 35.844,141.303 35.844,147.389 L35.844,209.356 C35.844,215.443 40.824,220.423 46.91,220.423 L108.878,220.423 C114.964,220.423 119.944,215.443 119.944,209.356 L119.944,147.389 C119.944,141.303 114.964,136.322 108.878,136.322 L108.878,136.322 Z" id="logo-1" fill="#FF1F1F"></path>
                    <path d="M52.442,102.019 L103.345,102.019 L103.345,51.117 L52.442,51.117 L52.442,102.019 Z M108.878,34.518 L46.91,34.518 C40.824,34.518 35.844,39.497 35.844,45.583 L35.844,107.552 C35.844,113.638 40.824,118.617 46.91,118.617 L108.878,118.617 C114.964,118.617 119.944,113.638 119.944,107.552 L119.944,45.583 C119.944,39.497 114.964,34.518 108.878,34.518 L108.878,34.518 Z" id="logo-2" fill="#FF1F1F"></path>
                    <path d="M152.036,203.824 L202.938,203.824 L202.938,152.922 L152.036,152.922 L152.036,203.824 Z M208.471,136.322 L146.502,136.322 C140.416,136.322 135.436,141.303 135.436,147.389 L135.436,209.356 C135.436,215.443 140.416,220.423 146.502,220.423 L208.471,220.423 C214.557,220.423 219.536,215.443 219.536,209.356 L219.536,147.389 C219.536,141.303 214.557,136.322 208.471,136.322 L208.471,136.322 Z" id="logo-3" fill="#FF1F1F"></path>
                    <path d="M211.79,68.2681 L185.785,68.2681 L185.785,42.2631 C185.785,38.0031 182.299,34.5181 178.039,34.5181 L176.933,34.5181 C172.673,34.5181 169.186,38.0031 169.186,42.2631 L169.186,68.2681 L143.183,68.2681 C138.922,68.2681 135.436,71.7541 135.436,76.0141 L135.436,77.1211 C135.436,81.3801 138.922,84.8671 143.183,84.8671 L169.186,84.8671 L169.186,110.8711 C169.186,115.1311 172.673,118.6171 176.933,118.6171 L178.039,118.6171 C182.299,118.6171 185.785,115.1311 185.785,110.8711 L185.785,84.8671 L211.79,84.8671 C216.05,84.8671 219.536,81.3801 219.536,77.1211 L219.536,76.0141 C219.536,71.7541 216.05,68.2681 211.79,68.2681" id="logo-4" fill="#FF1F1F"></path>
                </g>
            </g>
        </svg>
    </div>
</div>