<nav class="onboarding-progress">
    <ol>
        <% if false %>
        <% if @current_account.active_patients.size == 1 %>
        <li class="completed" data-balloon="Create Account"><i class="material-icons">check</i><span>Create Account</span></li>
        <% end %>
        <% end %>

        <% if state[:progress_index] > 1 %>
        <li class="completed <% if state[:active_index] == 1 %>active <% end %>" data-balloon="Add Personal Details"><a href="<%= patient_edit_personal_path(patient.uuid) %>"><i class="material-icons">check</i><span>Add Personal Details</span></a></li>
        <% else %>
        <li class="incomplete <% if state[:active_index] == 1 %>active <% end %>"><span>Add Personal Details</span></li>
        <% end %>

        <% if state[:progress_index] > 2 or step > 2 %>
        <li class="completed <% if state[:active_index] == 2 %>active <% end %>"><a href="<%= patient_edit_medical_path(patient.uuid) %>"><i class="material-icons">check</i><span>Add Medical History</span></a></li>
        <% else %>
        <li class="incomplete <% if state[:active_index] == 2 %>active <% end %>"><span>Add Medical History</span></li>
        <% end %>

        <% if state[:progress_index] > 3 %>
        <li class="completed <% if state[:active_index] == 3 %>active <% end %>"><a href="<%= patient_edit_contacts_path(patient.uuid) %>"><i class="material-icons">check</i><span>Add Contacts</span></a></li>
        <% else %>
        <li class="incomplete <% if state[:active_index] == 3 %>active <% end %>"><span>Add Contacts</span></li>
        <% end %>

        <% if state[:progress_index] > 4 %>
        <li class="completed <% if state[:active_index] == 4 %>active <% end %>"><i class="material-icons">check</i><span>Confirm</span></li>
        <% else %>
        <li class="incomplete <% if state[:active_index] == 4 %>active <% end %>"><span>Confirm</span></li>
        <% end %>

        <% if state[:progress_index] > 4 %>
        <li class="incomplete"><a href="<%= lifesquares_show_assign_path %>"><span>Get LifeStickers</span></a></li>
        <% else %>
        <li class="incomplete"><span>Get LifeStickers</span></li>
        <% end %>

    </ol>
</nav>