<script id="pregnancy-item" type="text/html">
    <div class="row" id="due-date-container" style="display: none;">
        <div class="field span4 required">
            <label class="span4" for="maternity_due_date">Due Date</label>
            <input class="input-item span4 due-date" type="text" name="maternity_due_date" value="{{maternity_due_date}}" id="maternity_due_date" placeholder="MM/DD/YYYY">
            <p class="error-message span4">Please enter a date in <br/>MM/DD/YYYY format</p>
        </div>
    </div>
</script>