<script id="immunization-item" type="text/html">
    <div class="item-view row" style="display: none;">
        <h3>{{immunization}}</h3>
        <p>{{start_date}}</p>
    </div>
    <div class="item-edit row">
        <input type="hidden" name="immunization-name" id="immunization-{{record_order}}-name" value="{{immunization}}">
        <input type="hidden" name="immunization-imo" id="immunization-{{record_order}}-imo" value="{{imo_code}}">
        <input type="hidden" name="immunization-icd9" id="immunization-{{record_order}}-icd9" value="{{icd9_code}}">
        <input type="hidden" name="immunization-icd10" id="immunization-{{record_order}}-icd10" value="{{icd10_code}}">
        <div class="field span4 required">
            <label for="immunization-{{record_order}}">Immunization</label>
            <input class="item-input span4 immunization" type="text" name="health_event" value="{{health_event}}" id="immunization-{{record_order}}" placeholder="Name">
            <p class="error-message span4" data-for="immunization-{{record_order}}">Please enter an immunization</p>
        </div>
        <div class="field span3">
            <label for="immunizationdate-{{record_order}}">Date Administered</label>
            <input class="item-input span3" type="text" name="start_date_formatted" value="{{start_date}}" id="immunizationdate-{{record_order}}" placeholder="Any type of date">
            <p class="error-message span3" data-for="immunizationdate-{{record_order}}">Please enter a date in <br/>MM/DD/YYYY format</p>
        </div>
        <div class="field span1 privacy-wrap">
            <%= render :partial => 'components/privacy', :locals => { :field => 'allergy' } %>
        </div>
        <%= render :partial => 'components/remove_row_button' %>
    </div>
</script>