<section class="pillbox" id="view-plan-level">
    <article>
        <div class="title">
            <h3>Plan Level</h3>
        </div>
        <div class="content">
            <div class="field">
                <div class="radio-wraps">
                    <input type="radio" name="plan-level" value="personal" checked="checked" />
                    <h6>Personal</h6>
                </div>
                <ul class="sbasic">
                    <li>Your health care information moves with you</li>
                    <li>Critical health information is accessible to others with assigned viewing privileges in times of need</li>
                    <li>Online support</li>
                </ul>
            </div>
            <div class="field">
                <div class="radio-wraps">
                    <input type="radio" name="plan-level" value="enterprise" disabled="disabled" />
                    <h6>Enterprise</h6>
                </div>
                <p>Contact <a href="mailto:enterprise@domain.com">enterprise@domain.com</a> for more information.</p>
            </div>
        </div>
    </article>
</section>