<section class="reveal-modal" id="address-validator">    
    <div class="modal-content">
    <h2>Validate Address</h2>
    <p>We were unable to validate your address and may have difficulty shipping your LifeStickers.</p>
    <p><strong>Choose from the following</strong></p>
    <section class="options">

    </section>
    
    <p class="error-message"></p>

    <section class="modal-flow-control">
        <a href="#" class="button primary action-ok disabled">Ok</a>
        <a href="#" class="button action-cancel">Cancel</a>
    </section>
    </div>
</section>