<h1>Credentials submission received</h1>

<p>We will review all credentials and confer with your supervisor within the next 3-5 business days. You will receive further instructions pending the outcome of our review process.</p>