<h1>Congrats</h1>
<p>Your request to use the HealthNotifier app as a licensed health care provider has been approved! Access is valid for one year.</p>

<hr />

<h3>Next Steps</h3>

<ul>
    <li>Download the app if you haven't already</li>
    <li>Ensure your Profile and photo are current (these will be visible to Patients)</li>
</ul>

<!-- something about liability, responsibilty, security, terms, etc, legal mumbo jumbos -->