<h1>Your Provider Credentials have expired!</h1>

<p>Please update your details in the HealthNotifier portal to maintain provider level access.</p>

<hr />

<p>If you believe this is a mistake, or need further assitance please contact <a href="mailto:support@domain.com?subject=CredentialsExpired">support@domain.com</a>.</p>
