<h1>We’re sorry</h1>
<p>Your request to use the HealthNotifier app as a licensed health care provider has been denied! Either your credentials are invalid, or your employer has not confirmed your employment status.</p>
<hr />
<p>If you believe this is a mistake, please contact <a href="mailto:support@domain.com?subject=CredentialsDeclined">support@domain.com</a> for assistance</p>
