<p><b><%= provider_credential.patient.fullname %></b> requires confirmation as a licensed health care provider for use on the HealthNotifier platform and has listed you as their supervisor.</p>
<p>A HealthNotifier support representative will be in touch with you via email / phone to review employment and credentials status.</p>