<p>Provider credentials for <b><%= provider_credential.patient.fullname %></b> have expired and must be re-confirmed.</p>
<hr />
<p><a href="<%= admin_provider_credentials_show_url(provider_credential.id) %>">Review Credentials</a></p>