<section class="page-title">
    <h1>Styleguide</h1>
</section>

<%= render :partial => 'sidebar' %>

<section id="main-column">

<section class="pillbox">
    <article>
        <div class="title">
            <h3>Colors</h3>
        </div>
        <div class="content">
            <section class="swatches">
                <article class="swatch color-red">
                    <span>Red</span>
                </article>
                <article class="swatch color-blue">
                    <span>Blue</span>
                </article>
                <article class="swatch color-green">
                    <span>Green</span>
                </article>
                <article class="swatch color-white-100">
                    <span>Black 00</span>
                </article>
                <article class="swatch color-black-03">
                    <span>Black 03</span>
                </article>
                <article class="swatch color-black-30">
                    <span>Black 30</span>
                </article>
                <article class="swatch color-black-75">
                    <span>Black 75</span>
                </article>
            </section>
        </div>
    </article>
    <article>
        <div class="title">
            <h3>Base<br />Typography</h3>
        </div>
        <div class="content">
            <h1>Header Level 01 For Screen Title</h1>
            <h2>Header Level 02 For Big Section Dividers</h2>
            <h3>Header Level 03 For Sections</h3>
            <!--<h4>Header Level 4 - Unused</h4>
            <h4>Header Level 5 - Unused</h4>-->
            <h6>Header Level 06 Sidebar</h6>

            <hr />

            <p>Tacos neutra hashtag, williamsburg whatever taxidermy salvia. Organic YOLO everyday carry lumbersexual photo booth +1 blue bottle lo-fi bushwick. Tofu pork belly fixie, ramps yuccie small batch distillery intelligentsia pitchfork 3 wolf moon. Trust fund <strong>YOLO chicharrones</strong> everyday carry.</p>

            <p>Chambray try-hard ethical man braid tousled butcher, <a href="#">banjo ramps meditation</a> flexitarian pug gentrify normcore. Heirloom shoreditch fashion axe schlitz affogato street art salvia, retro single-origin coffee everyday carry stumptown down!</p>

            <p><small>Smallish things like this and that.</small></p>
        </div>
    </article>
    <article>
        <div class="title">
            <h3>Grid</h3>
        </div>
        <div class="content">
            <p>TBD</p>
        </div>
    </article>
    <article>
        <div class="title">
            <h3>Buttons</h3>
        </div>
        <div class="content">
            <div>
                <a href="#" class="button primary">Primary Button</a>
                <a href="#" class="button primary disabled">Submitting…</a>
                <a href="#" class="button">Normal Button</a>
                <a href="#" class="button disabled">Disabled Button</a>
            </div>
            <hr />
            <div>
                <a href="#" class="button small primary">Primary Button</a>
                <a href="#" class="button small primary disabled">Submitting…</a>
                <a href="#" class="button small">Normal Button</a>
                <a href="#" class="button small disabled">Disabled Button</a>
            </div>
        </div>
    </article>
    <article>
        <div class="title">
            <h3>Forms</h3>
        </div>
        <div class="content">
            <div class="auth-form">
                <div class="field required">
                    <label>Sweet Text Label</label>
                    <input type="text" value="" placeholder="This is witty, or something…" />
                    <p class="error-message" style="display: block;">Hey there, you need to fill this in</p>
                </div>
                <div class="field">
                    <label>Standardish Select Widget</label>
                    <select name="dummy-select">
                        <option value=""></option>
                        <option value="a-value">A Really Interesting Value</option>
                        <option value="b-value">B Sort Of Interesting Value</option>
                        <option value="c-value">C Not An Interesting Value</option>
                    </select>
                </div>
                <div class="field">
                    <!--<label>A basic boolean</label>-->
                    <label><input type="checkbox" value="" /> The toggle label for the checkbox</label>
                </div>
                <div class="field">
                    <label>A Long Textarea</label>
                    <textarea value="" placeholder="These are rare and so on, so don't expect to see them often."></textarea>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="title">
            <h3>Extended<br />Typography</h3>
        </div>
        <div class="content">
            <p><span class="tag">A Tag</span> <span class="tag">Another Tag</span></p>
            <p><span class="badge">1</span> Badger badge</p>
            <p><span class="badge attention">28</span> Important badge</p>
            <p class="lifesquare-code"><span>001</span><span>LSQ</span><span>002</span></p>
        </div>
    </article>
</section>






<h3>Components</h3>

</section>