<% if patient.confirmed? && patient.lifesquare_code_str.present? %>
<article data-url="#" class="tile tile-admin">
    <header><h4>Coverage Administration</h4></header>
    <section>

    <% if patient.current_coverage %>
    <p>
        <% if patient.current_coverage.recurring %><span data-balloon="Will automatically renew">Recurring</span> <% end %>Coverage valid through <strong><%= patient.current_coverage.coverage_end.strftime("%m/%d/%Y") %></strong>
    </p>
    <% end %>

    <ul class="actions flushtown">
        <% if patient.has_expired_coverage %>
        <li><a href="<%= lifesquares_show_renew_path %>" class="button primary small">Renew Coverage</a></li>
        <% end %>    

        <% if patient.current_coverage and patient.current_coverage.recurring %>
        <li><a href="#" class="button small cancel-subscription" title="Recurring coverage will automatically renew <%= patient.current_coverage.coverage_end.strftime("%m/%d/%Y") %>">Cancel Coverage Subscription</a></li>
        <% end %>

        <% if patient.can_request_stickers %>
        <li><a href="<%= lifesquares_show_replace_path %>" class="button small reprint">Get Replacement Lifesquares</a></li>
        <% end %>

        <!-- <li><a href="#" class="button small delete-patient">Delete Profile</a></li> -->

    </ul>
    </section>
</article>
<% end %>