<% if @patient_details['medications'].length > 0 %>
<article data-url="#">
    <header><%= image_tag "icons/pill.png" %><h4><a href="<%= patient_edit_medical_path(@patient.uuid) %>#medication">Medications</a></h4></header>
    <section>
     <% @patient_details['medications'].each do |medication| %>
        <%= render :partial => 'components/patient_medication', :locals => { :medication => medication } %>
        <% end %>
    </section>
</article>
<% end %>