<section id="blue-button-promo" class="pillbox">
    <article>
        <div class="title" style="text-align: center;">
            <a href="#" style="display: inline-block;" class="xbutton sprimary import-records" data-balloon="Get started importing my record" data-balloon-pos="right">
                <img src="<%= asset_path('RevisedBlueButtonlogowithmark.jpg') %>" width="120" style="margin: auto 0; opacity: 1.0;" />
            </a>
        </div>
        <div class="content" style="background: white;">
            <p class="promo" style="margin-bottom: 0;">Save time and import your critical health information from an electronic health care record today with the Blue Button. <a class="inline-help" data-balloon-pos="top" data-balloon="Read about the Blue Button initiative" href="https://www.healthit.gov/patients-families/blue-button/about-blue-button" target="_blank"><i class="material-icons">help</i></a></p>
        </div>
    </article>
</section>