<section id="privacy-details-modal" class="reveal-modal">
	<div class="modal-content">
	<h2>About Privacy</h2>
		
	<p>Use the privacy control for each component of your LifeSticker to manage its visibility when scanned or viewed by members of your LifeCircle.</p>

	<table class="default privacy-summary">
		<tbody>
			<tr>
				<td><i class="material-icons">people</i><strong>Health Network</strong></td>
				<td><small>Visible to registered users who scan your LifeSticker.<!-- and members of your LifeCircle.--></small></td>
			</tr>
			<tr>
				<td><i class="material-icons">verified_user</i><strong>Authorized Viewers</strong></td>
				<td><small>Visible to verified health care providers or select users you authorize.</small></td>
			</tr>
			<tr>
				<td><i class="material-icons">lock</i> <strong>Private</strong></td>
				<td><small>Visible only to you.</small></td>
			</tr>
		</tbody>
	</table>

	<hr />

	<p><small>Registered users may scan your LifeSticker and view details for a short time, but only those whom you add to your LifeCircle will have continued access.</small></p>

	<section class="flow-control-modal">
		<a class="close-reveal-modal xclose-icon xmir button"><i class="material-icons">close</i></a>
	</section>
	</div>
</section>