<section id="provider-disclaimer-modal" class="reveal-modal account-modal">
    <div class="modal-content">
        <h2>Health Care provider status explained</h2>

        <p>A health care provider is a licensed professional who is qualified and certified to care for patients or prospective patients. Impersonating a health care provider is a criminal offense punishable by legal remedies including jail time and fines. For the purposes of HealthNotifier and associated app functionality, if you claim to be a health care provider and are not in fact a licensed health care provider, this act constitutes impersonation of a health care provider. Examples of health care providers include professionals such as an emergency medical services provider, physician, nurse, nurse practicioner, physician assistant, certified home care professional, pharmacist, pharmacy technician.  The afore mentioned list is by no means meant to be an exhaustive or comprehensive list.</p>

        <a class="close-reveal-modal close-icon mir">×</a>
    </div>
</section>