<section id="timeout-warning" class="reveal-modal">
    <div class="modal-content">
       <h2>Timeout Warning</h2>
       <p>For your protection, you will be redirected to the login page in two minutes if there is no further activity.</p>
       <p>If you are still working on your HealthNotifier account, simply press the "OK" button to continue.</p>
       <h2 class="error-message">Oops! Something went wrong. Please <a href="." class="refresh-page">refresh this page</a>.</h2>
       <p><button class="btn primary refresh-session">OK</button></p>
       <a class="close-reveal-modal close-icon mir">×</a>
    </div>
</section>