<p>Thanks for scanning a LifeSticker with the HealthNotifier app. Please take a minute to provide your feedback on the experience.</p>
<p><a href="https://www.domain.com/survey/" target="_blank">https://www.domain.com/survey/</a></p>