<h1><%= name %> thinks you should check out <a href="https://www.domain.com">domain.com</a>!</h1>
<p><%= message %></p>
<p>Thanks,<br>The HealthNotifier team</p>

<p><small>Not sure who sent you this? Somebody did because HealthNotifier does not spam anybody. If you’ve received this by accident, don’t worry; we won’t email you again!</small></p>