<section id="add-network-connection-modal" class="reveal-modal">
    <div class="modal-content">
        <h2>Add Connection</h2>
        <div class="basic-form" style="margin-bottom: 2rem;">
            <div class="field span2">
                <label>Search Criteria</label>
                <input class="south-of-the-border" type="text" placeholder="First and Last name, email, address, etc." id="" name="query" />
            </div>
        </div>

        <section class="results">

        </section>
    </div>
</section>