<h1>New Print Request - <%= object.id %></h1>
<p><a href="<%= admin_code_sheet_index_url %>">Open Admin</a></p>
<br />
<p><a href="<%= api_download_print_request_url(object.id) %>">Download PDF</a></p>