<section id="error404" class="clearfix">
	<hr>
  <div id="container">
    <h1>Oops! We can't find that page.</h1>
    <p>Thanks for noticing. That page might have moved or you may have typed the URL wrong.</p>
  </div>
</section>
