aside#account-sidebar {
    width: 30%;
    float: right;

    h6 {
        margin-left: 0.5rem;
    }
}

section#account-info {
    width: 68%;
    float: left;
}

.check-wrapper {
    #optin_email_marketing {

    }
    label.inline {
        display: inline;
    }
}