// actions
ul.actions {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    li {
        a {
            .badge {
                display: inline-block;
                margin: 0;
                position: relative;
                top: -2px;
            }
        }
        /*
        &.active {
            // border-left: 2px solid $blue2016 !important;
            a {
                background: tint($blue2016, 40%);
                color: white;

                &:hover {
                    background: $blue2016;
                }
            }

        }
        */
        ul {
            margin: 0;
            padding: 0;
            margin-left: 1rem;
            // border-left: 2px solid $black-10;
            li {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
    }
}

h6 + ul.actions {
    // margin-top: -2rem;
}

#edit-subnav {
    display: none;
}

#sidebar {
    ul.actions {
        li {
            // border-left: 2px solid rgba(0, 0, 0, 0.0);
        }
    }
}