.user-thumbnail-circle {
    // TODO: handle "cropping" and "aspect ratio" in css if we continue to punt from the server thumb code

    // default, aka normal, for typical contexts
    width: 96px;
    height: 96px;
    margin: 1rem auto;
    box-sizing: border-box;

    // for tiny guys, like account switcher
    &.small {
        width: 32px;
        height: 32px;
    }

    // for list summary items
    &.medium {
        width: 64px;
        height: 64px;
    }

    // for webview
    &.large {
        width: 160px;
        height: 160px;
    }

    // for webview
    &.xlarge {
        width: 320px;
        height: 320px;
    }

    &.xxlarge {
        width: 640px;
        height: 640px;
    }

    p.user-thumbnail {
        border: none;
        border-radius: none;
        margin: 0;
        padding: 0;
        width: inherit !important;
        height: inherit !important;
        box-sizing: border-box;
    }
    img {
        box-sizing: border-box;
        border-radius: 50%;
        border: 1px solid #bbb;
        width: inherit !important;
        height: inherit !important;
        opacity: 1.0 !important;
        // aww yea son
        // http://stackoverflow.com/questions/9994493/scale-image-to-fit-a-bounding-box
        object-fit: cover;
    }
}

td {
    .user-thumbnail-circle {
        margin: 0;
    }
    &.photo, &.avatar {
        width: 32px;
        padding-right: 0 !important;
    }
}