span.badge {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.25rem;
    vertical-align: middle;
    line-height: 1rem;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    color: white;
    background: $textgray;
    -webkit-user-select: none;

    &.attention {
        background: $blue2016;
    }
}