// primary application layout flow here
// this should be moved back to the base though
body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;

    header {
        // defined in _header
    }

    main#main {
        margin-top: 2rem;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;

        margin: 2rem auto 0 auto;
        width: $mainWidth;
        @include clearfix;

    }

    footer {
        // defined in _footer
    }
}