#search-results {
	margin-top: 1rem;
}

/*
#connections {
	overflow: hidden;
	.connection-new {
		margin-bottom: 40px;
	}
}

#friends {
	overflow: hidden;
	div.pill-request {
		overflow: auto;
		.title {
			// overflow: hidden;
			// position: relative !important;
		}
		&:hover {
			cursor: pointer;
			.content {
				
			}
		}
		&.pending:hover {
			cursor: default;
			.content {
				
			}
		}
	}
}

.network {
	overflow: auto;
	div.pill {
		div.content {
			position: relative;
			a.destroy {
				position: absolute;
				right: 20px;
				top: 0;
			}
		}
	}
}

.no-lefty {
	margin-left: 0 !important;
}

hr.thin {
	margin-top: 0px !important;
	// width: 50%;
}
*/