<aside id="sidebar">
    <!--
    <h6>General</h6>
    <ul class="actions">
        <li><a href="#" class="button small">Edit Company Details</a></li>
        <li><a href="#" class="button small">Manage Company Admins</a></li>
        <li><a href="#" class="button small">Billing Details</a></li>
    </ul>
    -->

    <!-- for one time custom payments though -->
    <!--
    <h6>Invoices</h6>
    <ul class="actions">
        <li><a href="#" class="button small">Pay Outstanding</a></li>
        <li><a href="#" class="button small">View Paid</a></li>
    </ul>
    -->


    <h6>LifeStickers</h6>
    <ul class="actions">
        <!-- <li><a href="#" class="button small">Manage Members</a></li> -->
        <li><a href="<%= organization_order_lifesquares_path %>" class="button small">Purchase LifeStickers</a></li>
        <!-- <li><a href="<%= organization_renew_path %>" class="button small">Renew Coverages</a></li> -->
        <!-- <li><a href="#" class="button small">Order Replacement Stickers</a></li> -->
    </ul>

</aside>
