<p>Thank you for creating your account with HealthNotifier.</p>

<p>Please log in to your account to finish entering your essential health information, and request LifeStickers to be mailed to you.</p>

<%= link_to "Account profiles", patients_path %>
