<p>Someone has attempted to recover your account and reset the password. If that was you, please click the link below.</p>
<p><h2><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), {:style => 'color: #c4262e;'} %></h2></p>

<p>Your password won't change until you access the link above and create a new one.</p>