<p><b><%= patient.name %></b> has signed up for a LifeSticker and listed you as a person to be contacted in an emergency. Visit https://www.domain.com now to learn how you can keep your essential health information always with you.</p>
