<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="margin: 0;">
	<table style="margin: 0; width: 100%; background: #f6f6f6; padding: 1em; color: #222; font-family: arial, sans-serif;">
		<tr>
			<td>
				<img alt="HealthNotifier" id="logo-header" width="120" height="40" src="<%= image_url('lsq-logo-color.png') %>" />
			</td>
		</tr>
		<tr>
			<td>
				<hr style="border: none; margin-top: 1em; border-top: 1px solid #ccc;" />
				<%= yield %>
			</td>
		</tr>
		<tr>
			<td>
				<hr style="border: none; margin-top: 3em; border-top: 1px solid #ccc;" />
				<p><small><a href="https://www.domain.com" style="color: #c4262e;">https://www.domain.com</a> | <a href="https://www.domain.com/privacy/" style="color: #c4262e;">Privacy Policy</a></small></p>
			</td>
		</tr>
	</table>
</body>
</html>