<div id="exit-survey">
    <p><small>Please check all that apply:</small></p>
    <ul>
        <li><label><input type="checkbox" value="no longer need" name="exit-reason-need" />No longer need this</label></li>
        <li><label><input type="checkbox" value="not useful" name="exit-reason-value" />Not useful to me</label></li>
        <li><label><input type="checkbox" value="too complex" name="exit-reason-complicated" />Too complicated</label></li>
        <li><label><input type="checkbox" value="too expensive" name="exit-reason-cost" />Too expensive</label></li>
        <li><label><input type="checkbox" value="dislike stickers" name="exit-reason-stickers" />Don't like stickers</label></li>
        <li><label><input type="checkbox" value="portal quality issue" name="exit-reason-computer" />Doesn't work with my computer</label></li>
        <li><label><input type="checkbox" value="app quality issue" name="exit-reason-apps" />App doesn't work with my phone</label></li>
        <li><label><input type="checkbox" value="not as advertised" name="exit-reason-advertisement" />Not as advertised</label></li>
        <li><label><input type="checkbox" value="patient deceased" name="exit-reason-other" />Patient(s) are deceased</label></li>
        <li><label><input type="checkbox" value="other" id="exit-other-toggle" name="exit-reason-other" value="other" />Other (please describe)</label></li>
    </ul>
    <textarea id="exit-survey-other" cols="40" rows="4" class="south-of-the-border" name="exit-survey-other" placeholder="Any other reasons or feedback to help us improve the quality of our product would be appreciated!"></textarea>
</div>