<section class="page-title">
    <h1>Goodbye from HealthNotifier</h1>
</section>

<aside id="sidebar">&nbsp;</aside>

<section id="main-column">

<section class="pillbox">
<article>
<div class="content">
<p>Thank you so much for letting us know why you have closed your HealthNotifier account. We value your input and hope to see you again soon.</p>
</div>
</article>

</section>

