<p><strong><%= auditor.name_extended %></strong><% if auditor.account.provider? %>, an approved health care provider,<% end %> would like to view your LifeSticker.</p>

<hr />

<p><a href="<%= network_show_all_pending_invites_url %>" target="_blank">Review This Request</a></p>
