<p>The LifeSticker for <strong><%= patient.name_extended %></strong> was scanned via SMS at <%= scantime %> by <strong><%= scanner_phone_number %></strong></p>

<hr />
    
<% if false %>
<!-- TODO: Advance Directive, DNR, and POLST call outs -->
<% end %>

<p>You have received this notification because you are an emergency contact for <%= patient.name_extended %> on their LifeSticker.</p>
